.basement_form_background_example_wrapper
.basement_transparent_image_background
	background url(../images/wp-color-result-transparent.jpg) repeat

.basement_form_background_example
	height 300px
	transition all 200ms linear
	width 100%

.basement_form_icons_checkboxes
.basement_form_icons_radios
	padding-top 10px
	text-align center
	label
		margin: 0 10px 10px 0;
		display: inline-block

.basement_form_icons_radios
	.basement_form_icon_radio
		display none

.basement_form_icons_checkboxs
	.basement_form_icon_checkbox
		display none

.basement_form_checkbox_icon
.basement_form_radio_icon
	font-size 40px

.basement_form_radios
	label
		display block

.basement_form_posts_list_radio_image
.basement_form_sortable_posts_list_checkbox_image
	background-position center center
	background-size cover
	background-clip padding-box
	border 4px solid transparent
	display inline-block
	height 50px
	width 50px

.basement_form_posts_list_radios
.basement_form_sortable_posts_list_checkboxes
	padding-top 10px
	label
		float left
		margin-bottom 0

.basement_form_sortable_posts_list_checkboxes
	.basement_form_sortable_posts_list_checkbox
		display none
	.basement_sortable_drop_area
		border 2px dashed #eee
		height 64px
		margin-bottom 10px
		&:hover
			border-color #aaa

.basement_form_post_radio_container
.basement_form_post_checkbox_container
	border-bottom 1px solid #EEE
	padding 0 10px 6px
	margin-bottom 10px
	overflow hidden

.basement_form_post_checkbox_container
	cursor move
	&:last-child
		border-bottom none
	&.ui-sortable-helper
		background #fff
		border-bottom none
		opacity .9
		padding-top 10px
		transition padding 100ms linear

.basement_form_posts_list_radio_data
.basement_form_sortable_posts_list_checkbox_data
	margin-left 70px

.basement_form_posts_list_radio_title
.basement_form_sortable_posts_list_checkbox_title
	font-size 14px
	font-weight bold
	margin-top -3px

.basement_form_posts_list_radio_link:hover
.basement_form_sortable_posts_list_checkbox_link:hover
	text-decoration none

.basement_form_post_radio_container
	.basement_form_posts_list_radio
		display none

.basement_form_media_uploader_wrapper
	&.file_loaded
		img
			display block
		.basement_media_upload
			display none
		.basement_media_delete
			display block
	img
		display none
		margin 8px 0
		max-width 100%
		vertical-align top
	.basement_media_upload
		display block
	.basement_media_delete
		display none

.basement_media_button_link
	cursor pointer
	margin-top 1em
	text-decoration underline

.basement_admin_filters
	margin-bottom 20px

.basement_admin_filter
	color #fff
	display inline-block
	padding 10px 15px
	text-decoration none 
	&:hover
	&:active
	&:focus
		color #fff
		box-shadow none 


.basement_admin_togglers
	margin-bottom 20px

.basement_admin_toggler
	color #fff
	display inline-block
	padding 10px 15px
	text-decoration none 
	&:hover
	&:active
	&:focus
		color #fff
		box-shadow none 
